* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#holis {
    color: white;
    font-size: 30px;
    text-align: right;
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 50%;
    width: 100vw;
    height: 100vh;
    align-self: center;
    background-color: #DF3E51;
    background-image: url(../img/The_Artist_Gif.gif);
    background-repeat: no-repeat;
    background-size: 30% 100%;
}